* {
    padding: 0;
    margin: 0;
    border: 0;
    color: #424B54;
}
body{
    background: rgb(94, 252, 141);
    background: linear-gradient(38deg, rgba(94,252,141,1) 0%, rgba(35,201,255,1) 100%);
    border-radius: 5px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    text-align: center;
    height: 70px;
    color: #FEEFE5;
  }
td{
    border-left: 1px inset #FEEFE5;
    border-right: 1px inset #FEEFE5;
}
td:first-child{
    border-left: none;
}
td:last-child{
    border-right: none;
}

tr{
    background: #424B54;
}

.keycuts-table-header, .keyspaces-table-header{
    position: sticky;
    top: 0;
    height: 75px;
    color: #2E2E3A;
    background: #5EFC8D !important;
}
.hidden{
    display: none;
}
.not-saved{
    background: #e73d26 !important;
}
tr:not(.hidden):nth-of-type(odd){
    background: #2E2E3A;
}
#table-spacer{
    max-height: none;
}

#add-new, #add-new-space{
    height: 10px;
    position: sticky;
    bottom: 0;  
}
.add-to-workspace{
    transition: 0.1s ease-in-out;
    width: 100%;
    height: 100%;
    background: none;
    color: #FEEFE5;
}
.add-to-workspace:hover{
    background: #5efc8d86;
    
    transform: scale(1.01);
    color: #2E2E3A;
}
.add-to-workspace:hover.delete{
    background: #e73d2686;
    transform: scaleX(2);
    color: #2E2E3A;
}
#add-new-button, #add-new-space-button{
    width: 100%;
    height: 100%;
    background: #5EFC8D;
    transition: 0.1s ease-in-out;
}
#add-new-button:hover, #add-new-space-button:hover{
    transform: scaleY(1.2);
    background: #74ff9e;
}
#add-new > td, #add-new-space > td{
    color: #2E2E3A;
}
#toggle-edit, #toggle-edit-space{
    width: 100%;
    height: 100%;
    background: #EB4833;
    color: #2E2E3A;
}
#toggle-edit:hover, #toggle-edit-space:hover{
    transform: scaleY(1.2);
    background: #e73d26;
}

.keycuts-table-header > th, .keyspaces-table-header > th{
    color: #2E2E3A;
}
.keycuts-table, .keyspaces-table{
    height: 100vh;
    border-collapse: collapse;
}
.tabcontent {
    display: none;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}
.tabcontent::-webkit-scrollbar {
    display: none;
  }
#tab-content-container{
    flex: 1;
    flex-direction: column;
    height: 100%;
}
#tab-container{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.title{
    text-align: center;
    margin: 10px;
    font-size: 3rem;
}
.tablinks{
    flex: 0;
    flex-grow: 1;
    font-size: 2rem;
    background: #FEEFE5CC;
    transition: 0.2s;
}
.tablinks:hover{
    background: #FEEFE544;
    font-size: 2.2rem;
}
.tablinks.active {
    transition: 0.2s;
    background-color: #00000000;
  }
.keycut-table-cell{
    font-size: 1.2rem;
}
.text-field{
    border-radius: 10px;
    padding: 10px;
}
.keycut-field{
    width: 50px;
    margin-left: 10px;
}
.url-field{
    width: 80%;
    margin: 10px;
}